# Port
PORT=3000

# Genius API key
GENIUS_TOKEN=your_genius_api_key

# MongoDB credentials
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=your_mongo_super_secret_password
MONGO_INITDB_DATABASE=lyrixtube

# MongoDB connection string
MONGO_URI=mongodb://admin:your_mongo_super_secret_password@mongo:27017/your_database_name?authSource=admin